<div class="title_about zoom-on">
    <h2>2XU_h, développeur freelance bordelais</h2>
</div>
<div class="two-sides">
    <div class="side-left row">
        <img src="<%= asset_path 'profile.png' %>" alt="Photo de profil">
        <div class="presentation">
            <h3>William Horel, jeune développeur Full-Stack réalise vos demandes sur-mesure.</h3>
            <p>Lancé en juin 2019 dans la réalisation autonome de sites internet, vous pouvez le contacter aux coordonnés suivantes.</p>
        </div>
    </div>
    <ul class="side-right align-end column" id="contact">
        <li>
            <div class="i_container"><i class="fas fa-envelope-open fa-2x"></i></div><a
                href="mailto:william.horel@gmail.com?subject=Demande d'informations&body=Bonjour,">william.horel@gmail.com</a>
        </li>
        <li>
            <div class="i_container"><i class="fas fa-mobile-alt fa-2x"></i></div><a
                href="tel:0662970886">06.62.97.08.86</a>
        </li>
        </li>
        <li>
            <div class="i_container"><i class="fab fa-linkedin fa-2x"></i></div><a
                href="https://www.linkedin.com/in/william-horel-33000/">William Horel</a>
        </li>
        <li>
            <div class="i_container"><i class="fab fa-github fa-2x"></i></div><a
                href="https://github.com/OBrooks">OBrooks</a>
        </li>
    </ul>
</div>