<div id="window-fits">
    <div class="presentation-title zoom-on">
        <h2 class="coucou">2xU_H</h2>
        <h2 class="coucou">Websites</h2>
        <h3 class="coucou">Laissez la créativité prendre vie</h3>
    </div>
</div>