<div class="title_about zoom-on">
    <h2>Tarifs</h2>
</div>

<div class="container">
    <div class="row justify-center align-center items-center">
        <p>Les tarifs évoluent selon la demande, la base est de <strong>100€</strong> HT/ jour.
        Ci-dessous une approximation.</p>
        <table class="mtop-3">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Durée*
                    </th>
                    <th>
                        Total*
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Landing Page**, avec Front-End*** basique
                    </td>
                    <td>
                        2 jours
                    </td>
                    <td>
                        200€
                    </td>
                </tr>
                <tr>
                    <td>
                        Landing Page, avec Front-End complexe
                    </td>
                    <td>
                        3 jours
                    </td>
                    <td>
                        300€
                    </td>
                </tr>
                <tr>
                    <td>
                        EShop, avec Front-End issu d'une thème existant
                    </td>
                    <td>
                        2 semaines
                    </td>
                    <td>
                        900€
                    </td>
                </tr>
                <tr>
                    <td>
                        EShop, avec Front-End entièrement créé
                    </td>
                    <td>
                        3 semaines
                    </td>
                    <td>
                        1500€
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex line align-start mtop-3">
        <p>* à partir de</p>
    </div>
    <div class="flex line align-start">
        <p>** Landing Page : page de présentation</p>
    </div>
    <div class="flex line align-start">
        <p>*** Front-End : design du site</p>
    </div>
    <div class="flex line align-start mtop-3">
    <p>Ces tarifs ne comprennent pas l'hébergement mensuel, ni la location du nom de domaine, qui sont à
        partir de 4€/mois.</p>
    </div>
</div>
