<div class="window-fits line justify-center item-center align-center mt-3 ">
<?xml version="1.0" encoding="utf-8"?>
<svg id="logo-mustache" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
    <style type="text/css">
        .circle_blue_3 {
            fill: url(#SVGID_1_);
        }

        .circle_blue_2 {
            fill: url(#SVGID_2_);
        }

        .circle_blue_1 {
            fill: url(#SVGID_3_);
        }

        .circle_blue_4 {
            fill: url(#SVGID_6_);
        }

        .circle_blue_5 {
            fill: url(#SVGID_5_);
        }

        .circle_blue_6 {
            fill: url(#SVGID_4_);
        }

        .h-left {
            fill: url(#SVGID_7_);
        }

        .h-right {
            fill: url(#SVGID_8_);
        }

        .mustache4,.mustache3, .mustache1, .mustache2 {
            fill:black;
        }
    </style>
    <g class="logo-circles">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="12" x2="24" y2="12">
            <stop offset="0" style="stop-color:#60ADB2" />
            <stop offset="0.5" style="stop-color:#196083" />
            <stop offset="1" style="stop-color:#0A537A" />
        </linearGradient>
        <circle class="circle_blue_3 dark" cx="12" cy="12" r="12" />
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="2" y1="12" x2="22" y2="12">
            <stop offset="0" style="stop-color:#63AFB4" />
            <stop offset="0.4987" style="stop-color:#448F9F" />
            <stop offset="1" style="stop-color:#2C768F" />
        </linearGradient>
        <circle class="circle_blue_2 middle" cx="12" cy="12" r="10" />
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="4" y1="12" x2="20" y2="12">
            <stop offset="0" style="stop-color:#81D1C8" />
            <stop offset="0.5012" style="stop-color:#79C8C2" />
            <stop offset="0.529" style="stop-color:#77C6C1" />
            <stop offset="0.8064" style="stop-color:#66B3B6" />
            <stop offset="1" style="stop-color:#60ACB2" />
        </linearGradient>
        <circle class="circle_blue_1 light" cx="12" cy="12" r="8" />
    </g>
    <g class="logo-circles-tiny">
        <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="0" y1="12" x2="24" y2="12">
            <stop offset="0" style="stop-color:#60ADB2" />
            <stop offset="0.5" style="stop-color:#196083" />
            <stop offset="1" style="stop-color:#0A537A" />
        </linearGradient>
        <circle class="circle_blue_4 dark" cx="12" cy="12" r="0" />
        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="2" y1="12" x2="22" y2="12">
            <stop offset="0" style="stop-color:#63AFB4" />
            <stop offset="0.4987" style="stop-color:#448F9F" />
            <stop offset="1" style="stop-color:#2C768F" />
        </linearGradient>
        <circle class="circle_blue_5 middle" cx="12" cy="12" r="0" />
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="4" y1="12" x2="20" y2="12">
            <stop offset="0" style="stop-color:#81D1C8" />
            <stop offset="0.5012" style="stop-color:#79C8C2" />
            <stop offset="0.529" style="stop-color:#77C6C1" />
            <stop offset="0.8064" style="stop-color:#66B3B6" />
            <stop offset="1" style="stop-color:#60ACB2" />
        </linearGradient>
        <circle class="circle_blue_6 light" cx="12" cy="12" r="0" />
    </g>
    <g class="logo-h">
        <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="4.8445" y1="12" x2="8.1555" y2="12"
            gradientTransform="matrix(-1 0 0 1 13 0)">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
            <stop offset="0.0896" style="stop-color:#FFFFFF;stop-opacity:0.0896" />
            <stop offset="1" style="stop-color:#FFFFFF" />
        </linearGradient>
        <polygon class="h-left" points="4.84,22.5 8.16,22.5 8.16,1.5 4.84,1.5 " />
        <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="15.8445" y1="12" x2="19.1555" y2="12">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0" />
            <stop offset="0.0896" style="stop-color:#FFFFFF;stop-opacity:0.0896" />
            <stop offset="1" style="stop-color:#FFFFFF" />
        </linearGradient>
        <rect x="15.84" y="1.5" class="h-right" width="3.31" height="21" />
    </g>
    <g class="mustache">
        <path class="mustache1" d="M8.13,13.32l4.41-1.59c-0.15-0.02-0.3-0.04-0.44-0.07c0,0,0,0,0,0c-0.66,0.02-1.21,0.06-1.67,0.12
        c-2.45,0.34-2.4,1.21-2.33,1.47C8.11,13.27,8.12,13.3,8.13,13.32z" />
        <path class="mustache2" d="M15.87,13.31c0.06-0.16,0.33-1.15-2.32-1.52c-0.46-0.06-1-0.11-1.65-0.13c0,0-0.01,0-0.01,0c-0.18,0.01-0.37,0.02-0.55,0.04
        l4.49,1.62C15.84,13.31,15.86,13.31,15.87,13.31z" />
        <rect x="7.43" y="3.26" class="mustache3" width="0.72" height="10.05" />
        <rect x="15.82" y="3.26" class="mustache4" width="0.72" height="10.05" />
    </g>
</svg>
</div>