<div class="window-fits line">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Oups !</h1>
                <h2>Erreur interne, quelque chose ne va pas, veuillez revenir sur <a href="/">la page principale</a>
                </h2>
            </div>
        </div>
    </div>
</div>