// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Mukta|Oswald|Oxygen|Questrial|Raleway&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";

/************
1. General
************/


html {
    min-height:100%;
    max-width: 100vw;
    min-width: 100vw;
    position: relative;
    overflow-x: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -moz-align-items: center;     
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
}

body
{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Raleway,
    'Times New Roman',
    Times;
    font-size: 1em;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
    cursor: none;
}

h1,
h2,
.logo,
#nav-in-burger .nav-side-left a {
    font-family: Oswald,
    'Times New Roman',
    Times;
    text-transform: uppercase;
}
h1 {
    font-size: 7em;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
h2 {
    font-size: 3.5em;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
h3, h4 {
    font-family: Oxygen,
    'Times New Roman',
    Times;
    text-align: left;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color:  white;
}
i {
    color: white;
}

p {
    font-size: 1.3em
}

svg {
    color: white;
    fill: white;
    height: -moz-min-content;
    height: -webkit-min-content;
    height: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
}

svg g {
    height: 50px;
    width: 50px;
}

path {
    min-height: -moz-min-content;
    min-height: -webkit-min-content;
    min-height: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
}

ul {
    margin: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


ul>li>a {
    text-decoration: none;
    color: white;
}

ul>li>a:hover,
ul>li>p:hover {
    text-decoration: none;
}
a{
    cursor: none;
    // // url(asset_path("thumb.svg")),
    // pointer;
}

li>i {
    margin-right: 25px;
}

li {
    margin: 10px;
}

circle {
    color: white;
}


// td {
//     border: 1px solid #333;
// }

table {
    border-collapse: collapse;
    width: 70%;
}

tr {
    border-bottom: solid thin;
}

td:nth-child(3),
td:nth-child(2){
    border-left: solid medium;
    padding: 1%;
    text-align: center;
}

thead,
tr {
    margin-bottom: 10%;
    font-size: 1.2em;
}

/************
2. General custom classes
************/

.width-100 {
    width: 100%
}

.column {
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.line {
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.items-baseline {
    -moz-align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.items-center {
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.content-center {
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}

.justify-center {
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
}

.justify-space-around {
    -moz-justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.justify-space-evenly {
    -moz-justify-content: space-evenly;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

.align-end {
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

.align-start  {
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.wrap {
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.window-fits {
    width: 100%;
    height: 100vh;
}

#main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    transition: margin-left 2s ease-in;
    width: 100%;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}

.window-fits {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/************
3. Special custom classes
************/

.cursor {
    z-index: 99;
    background: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    transition: height 300ms ease, width 300ms ease;

    &-zoomed {
        height: 50px;
        width: 50px;
    }
}

.cursor.screen {
    visibility: hidden;
}

.two-sides {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -moz-justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-block-start: 3%;
}


.side-right, .side-left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 20px;
    height: -moz-min-content;
    height: -webkit-min-content;
    height: min-content;
}
.side-left {
    margin-left: 40px;
}
.side-right {
    margin-right: 40px;
}

.logo {
    width: 48px;
    height: 48px;
}

img.presentation-logo {
    height: 50%;
}

.i_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;     
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
    width: 35px;
    margin-right: 30px;
}

.badge-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.title {
    margin-bottom: 5%;
}

.title_about {
    margin-top:8%;
}
.presentation{
    width: 100%;
    margin: 20px;
}

.animation-background {
    visibility: hidden;
    height: 80%;
    width: 80%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: center;     
    -ms-flex-pack: center;     
    -webkit-justify-content: center;
    justify-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.presentation-title {
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100%;
}

.presentation-title h3 {
    text-align: center;
}

.img-description p {
    text-align: center;
    line-height: 2em;
}

.cardo h4 {
    margin-top: 20px;
}
h4.line-2 {
    margin-top: 0px;
}

.flex.line p {
    margin: 0.5%;
}

.mtop-3 {
    margin-top: 3%;
}

#nav-wrap {
    mix-blend-mode: difference;
}

#shapeshifter-language {
    margin-left: 20px;
}

/************
4. Images
************/

#logo-mustache {
    height: 200%;
}

.side-left img {
    height: 280px;
    width: 280px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 0;
    border-radius: 50%;
}

.interactive-image {
    margin-right: 20px;
}

.interactive-image img.hand {
    width: 80px;
}
.interactive-image img.wheel {
    width: 50px;
    transform: rotate(15deg);
}

.small-circle {
    fill:white;
    stroke-width: 0.5px;
    mix-blend-mode: difference;
}

svg.small-circle {
    width: 40px;
    height: 40px;
    z-index: 3;
}

.img-project {
    max-width: -moz-max-content;
    max-width: -webkit-max-content;
    max-width: max-content;
}

.img-wrap {
    position: relative;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    box-shadow: 0px 5px 29px -3px rgba(255, 255, 255, 0.30);
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .5s, visibility .5s;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.badge-container img {
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.badge-container img:hover {
    margin-bottom: 40px;
}

#services li {
    height: 50px;
}

#services li.move_it {
    transition: padding-left 1s ease-in-out;
}

#services li.move_it {
    padding-left: 25%;
    padding-right: 15%
}

#contain-picture-circle{
    width: 350px;
    height: 350px;
    position: relative;
    margin-right: 70px;
}

#profile-picture,
progress-ring {
    position: absolute;
    top: 0;
    left: 0;
}

progress-ring {
    z-index: 10;
}

progress-ring svg circle {
    stroke: black;
}

/************
5. Responsive
************/


@media screen and (max-width: 1024px) {

    #contain-picture-circle {
        margin-right: 70px;
    }

    .img-description p {
        line-height: normal;
    }

    header .logo {
            font-size: 200%;
            width: 96px;
            height: 96px;
        }
    body {
        // font-size: 150%;
    }

    #burger {
        font-size: 150%;
    }
    
    // span.cursor {
    //     visibility: hidden;
    // }
    
    .two-sides {
        -webkit-box-direction: column;
        -moz-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .side-right {
        margin-left: 40px;
    }

    #services li {
        padding-right: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
    }

    #services li.move_it {
        padding-left: 15%;
        padding-right: 7%;
    }

}

@media screen and (max-width: 1024px) and (max-height: 720px) {
    .window-fits {
        margin-bottom: 10%;
    }
}

@media all and (max-width: 1024px) {

    .wrap-screen {
        width: 30%;
    }
    .title_about {
        margin-top: 10%;
    }
}

@media (min-width: 1024px) {
    .align-end {
        -moz-align-self: auto;
        -ms-flex-item-align: auto;
        -webkit-align-self: auto;
        align-self: auto;
    }
    
}

@media (min-width: 700px) {

    .img-project {
        height: 300px;
    }
}

@media only screen and (min-device-width : 320px) and (orientation : landscape) {
    #projects {
        margin-top: 5%;
    }
}

@media all and (max-width: 700px) {
    .img-project {
        max-width: 100%;
        max-width: 100%;
        max-width: 100%;
    }

    .window-fits {
        margin-bottom: 15%;
    }
}