
/************
1. Header Nav
************/

header {
    list-style: none;
    clear: both;
}
header#nav-wrap {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 5px;
    z-index: 98;
    left:0;
}

.logo {
    -webkit-transition: fill .3s ease;
    transition: fill .3s ease;
    font-size: 1.5em;
    margin-left: 2vw;
}

.nav-wrap .burger {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 12px;
    padding: 30px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 25px;
    z-index: 1;
}

.header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 0.5em 0;
}

header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

header ul li {
    display: inline-block;
    margin: 10px;
}
.burger div {
    width: 35px;
    height: 5px;
    background: #ffffff;
    margin: 6px 0;
}
#burger {
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 3;  
    -moz-box-ordinal-group: 3;     
    -ms-flex-order: 3;     
    -webkit-order: 3;  
    order: 3;
    margin: 5px;
    z-index: 98;
    margin-right: 2vw;
}
#nav-in-burger>div>ul>li>a,
#nav-in-burger>div>ul>li>p {
    font-family: "Gotham Thin Regular",
    'Times New Roman',
    Times;
    font-size: 1.3em;
    color: #b8b8b8;
    text-decoration: none;
    margin-left: 2vw;
    white-space: nowrap;
    
}

#nav-in-burger>div>ul.side-right>li
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: nowrap;
    -moz-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#nav-wrap .logo {
    z-index: 98;
    position: relative;
    color: white;
    mix-blend-mode: difference;
}

#nav-in-burger {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -moz-justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#nav-in-burger ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: -moz-min-content;
    height: -webkit-min-content;
    height: min-content;
}

.side-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    padding-left: 14px;
    position: relative;
}

ul.side-right:after {
    -webkit-transition: height 2s ease;
    background-color: #fff;
    bottom: -10%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: height 2s ease;
    width: 2px
}

ul.side-right li {
    color: #fff;
    font-family: "Gotham Thin Regular",
    'Times New Roman',
    Times;
    font-size: 1.3em;
    line-height: 100%;
    margin-top: 8px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.side-right li {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

ul.side-right:after {
    height: 0
}

ul.side-right.show:after {
    height: 100%
}

/************
2. Menu animation
************/
/* The side navigation menu */

#nav-in-burger {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 97;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: black;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 2s;
    /* 0.3 second transition effect to slide in the sidenav */
}
#nav-in-burger .nav-side-left li {
    list-style-type:none
}
/* The navigation menu links */
#nav-in-burger .nav-side-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 55px;
    font-family: 'Gotham Black Regular', 'Times New Roman', Times;
    font-kerning: normal;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.005em;
    color: transparent;
    display: block;
    transition: 0.5s ease-in;
}

#nav-in-burger .nav-side-left a:hover{
    color: white;
}

/* Position and style the close button (top right corner) */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main .show-menu {
    white-space: nowrap;
    transition: margin-left 2s ease-out;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #nav-in-burger a {
        font-size: 18px;
    }
}

/************
3. Other animations
************/
ul.side-right li{
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;

}
ul.side-right li a {
    white-space: nowrap;
}
ul.side-right li a:after {
    width: 0;
}

ul.side-right li a.underline:after {
    width: calc(100% - 60px);
}

ul.side-right li a:after {
    -webkit-transition: width 1s ease;
    background-color: #fff;
    content: "";
    left: 65px;
    bottom: 0;
    position: absolute;
    transition: width 1s ease;
    height: 2px
}

/************
4. Responsive
************/

@media screen and (max-width: 1024px) {
    #nav-in-burger .nav-side-left a {
        -webkit-text-stroke-width: 0.01em;
    }
}

@media (min-width: 1024px) {

    #nav-in-burger .nav-side-left a {
        font-weight: 700;
    }

    ul.side-right li {
        font-weight: 700;
    }
}


@media only screen and (orientation : landscape) {
        #nav-in-burger {
            -webkit-box-direction: row;
            -moz-box-direction: row;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
        }
}

@media only screen and (orientation : portrait) {
    #nav-in-burger {
        -webkit-box-direction: column;
        -moz-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        ul.side-right.show:after {
            bottom: -5%
        }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    ul.side-right.show:after {
        bottom: -5%
    }
}

/* iPhone 6, 7, 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    ul.side-right.show:after {
        bottom: -5%
    }
}