/************
2. Logo
************/

@keyframes circle_blue_1_light {
    0% {
        r: 8;
    }

    33.33333% {
        r: 10;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@keyframes circle_blue_2_middle {
    0% {
        r: 10;
    }

    33.33333% {
        r: 12;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@keyframes circle_blue_3_dark {
    0% {
        r: 12;
    }

    33.33333% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@keyframes circle_blue_6_light {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 0;
    }

    100% {
        r: 8;
    }
}

@keyframes circle_blue_5_middle {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 8;
    }

    100% {
        r: 10;
    }
}

@keyframes circle_blue_4_dark {
    0% {
        r: 0;
    }

    33.33333% {
        r: 8;
    }

    66.66666% {
        r:10;
    }

    100% {
        r: 12;
    }
}

@-webkit-keyframes circle_blue_1_light {
    0% {
        r: 8;
    }

    33.33333% {
        r: 10;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-webkit-keyframes circle_blue_2_middle {
    0% {
        r: 10;
    }

    33.33333% {
        r: 12;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-webkit-keyframes circle_blue_3_dark {
    0% {
        r: 12;
    }

    33.33333% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-webkit-keyframes circle_blue_6_light {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 0;
    }

    100% {
        r: 8;
    }
}

@-webkit-keyframes circle_blue_5_middle {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 8;
    }

    100% {
        r: 10;
    }
}

@-webkit-keyframes circle_blue_4_dark {
    0% {
        r: 0;
    }

    33.33333% {
        r: 8;
    }

    66.66666% {
        r: 10;
    }

    100% {
        r: 12;
    }
}

@-moz-keyframes circle_blue_1_light {
    0% {
        r: 8;
    }

    33.33333% {
        r: 10;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-moz-keyframes circle_blue_2_middle {
    0% {
        r: 10;
    }

    33.33333% {
        r: 12;
    }

    66.66666% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-moz-keyframes circle_blue_3_dark {
    0% {
        r: 12;
    }

    33.33333% {
        r: 12;
    }

    100% {
        r: 12;
    }
}

@-moz-keyframes circle_blue_6_light {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 0;
    }

    100% {
        r: 8;
    }
}

@-moz-keyframes circle_blue_5_middle {
    0% {
        r: 0;
    }

    33.33333% {
        r: 0;
    }

    66.66666% {
        r: 8;
    }

    100% {
        r: 10;
    }
}

@-moz-keyframes circle_blue_4_dark {
    0% {
        r: 0;
    }

    33.33333% {
        r: 8;
    }

    66.66666% {
        r: 10;
    }

    100% {
        r: 12;
    }
}


#logo-mustache:hover .circle_blue_1 {
    -moz-animation: circle_blue_1_light 5s linear infinite;
    -webkit-animation: circle_blue_1_light 5s linear infinite;
    animation: circle_blue_1_light 5s linear infinite;
}
#logo-mustache:hover .circle_blue_2 {
    -moz-animation: circle_blue_2_middle 5s linear infinite;
    -webkit-animation: circle_blue_2_middle 5s linear infinite;
    animation: circle_blue_2_middle 5s linear infinite;
}
#logo-mustache:hover .circle_blue_3 {
    -moz-animation: circle_blue_3_dark 5s linear infinite;
    -webkit-animation: circle_blue_3_dark 5s linear infinite;
    animation: circle_blue_3_dark 5s linear infinite;
}
#logo-mustache:hover .circle_blue_4 {
    -moz-animation: circle_blue_4_dark 5s linear infinite;
    -webkit-animation: circle_blue_4_dark 5s linear infinite;
    animation: circle_blue_4_dark 5s linear infinite;
}
#logo-mustache:hover .circle_blue_5 {
    -moz-animation: circle_blue_5_middle 5s linear infinite;
    -webkit-animation: circle_blue_5_middle 5s linear infinite;
    animation: circle_blue_5_middle 5s linear infinite;
    
}
#logo-mustache:hover .circle_blue_6 {
    -moz-animation: circle_blue_6_light 5s linear infinite;
    -webkit-animation: circle_blue_6_light 5s linear infinite;
    animation: circle_blue_6_light 5s linear infinite;
}

#logo-mustache .circle_blue_1 {
    -moz-animation: circle_blue_1_light 5s linear;
    -webkit-animation: circle_blue_1_light 5s linear;
    animation: circle_blue_1_light 5s linear;
    animation-delay: 1s;
}

#logo-mustache .circle_blue_2 {
    -moz-animation: circle_blue_2_middle 5s linear;
    -webkit-animation: circle_blue_2_middle 5s linear;
    animation: circle_blue_2_middle 5s linear;
    animation-delay: 1s;
}

#logo-mustache .circle_blue_3 {
    -moz-animation: circle_blue_3_dark 5s linear;
    -webkit-animation: circle_blue_3_dark 5s linear;
    animation: circle_blue_3_dark 5s linear;
    animation-delay: 1s;
}

#logo-mustache .circle_blue_4 {
    -moz-animation: circle_blue_4_dark 5s linear;
    -webkit-animation: circle_blue_4_dark 5s linear;
    animation: circle_blue_4_dark 5s linear;
    animation-delay: 1s;
}

#logo-mustache .circle_blue_5 {
    -moz-animation: circle_blue_5_middle 5s linear;
    -webkit-animation: circle_blue_5_middle 5s linear;
    animation: circle_blue_5_middle 5s linear;
    animation-delay: 1s;
}

#logo-mustache .circle_blue_6 {
    -moz-animation: circle_blue_6_light 5s linear;
    -webkit-animation: circle_blue_6_light 5s linear;
    animation: circle_blue_6_light 5s linear;
    animation-delay: 1s;
}

/************
2. Language
************/

@keyframes play129 {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -6192px 0px;
    }
}

#shapeshifter-language {
    animation-duration: 2150ms;
    animation-timing-function: steps(129);
    width: 48px;
    height: 48px;
    background-image: url(asset_path("language.svg"));
    background-size: 6240px 48px;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
}

#shapeshifter-language.play {
    animation-name: play129;
}
