<header id="nav-wrap">
    <div class="zoom-on">
        <div class="logo">2xU_H</div>
    </div>
        <div class="zoom-on">
    <div id="burger" class="burger burger-rotate">
        <div class="burger-lines"></div>
    </div>
    </div>
</header>