<header id="nav-wrap">
    <div class="zoom-on">
        <div class="logo">2xU_H</div>
    </div>
    <div id="nav-in-burger" class="nav-in-burger">
        <ul class="nav-side-left zoom-on">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#languages">Compétences</a>
            </li>
            <li>
                <a href="/projects">Réalisations</a>
            </li>
            <li>
                <a href="/about">À propos</a>
            </li>
        </ul>
        <ul id="nav-side-right" class="side-right column">
            <li>
                        <div class="i_container"><i class="fas fa-envelope-open fa-2x"></i></div><a
                            href="mailto:william.horel@gmail.com?subject=Demande d'informations&body=Bonjour,">william.horel@gmail.com</a>
            </li>
            <li>
                <div class="i_container"><i class="fas fa-mobile-alt fa-2x"></i></div><a href="tel:0662970886">06.62.97.08.86</a>
            </li>
            </li>
            <li>
                <div class="i_container"><i class="fab fa-linkedin fa-2x"></i></div><a href="https://www.linkedin.com/in/william-horel-33000/">William Horel</a> 
            </li>
            <li>
                <div class="i_container"><i class="fab fa-github fa-2x"></i></div><a href="https://github.com/OBrooks">OBrooks</a> 
            </li>
        </ul>
    </div>
        <div class="zoom-on">
    <div id="burger" class="burger burger-rotate">
        <div class="burger-lines"></div>
    </div>
    </div>
</header>