<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="cursor"></span>
    <%# render 'layouts/header' %>
    <%# render 'layouts/menu' %>
      <div id="main">
        <%# yield %>
      </div>
    <%# render 'layouts/footer' %>
  </body>
</html>
